
<div class="col-xs-12" style="border: 1px solid #eeeeee ;padding:0% 0% 0% 0%;margin-top: 4%; color: #000000;">
  <div class="col-md-4 text-center">
    <% if @user.profile.image.present? %>
      <%=image_tag @user.profile.try(:image).try(:attachment_url) ,:style=> "width:150px; margin-top:15%" %>
    <% else %>
      <%= image_tag "profile_img.png" ,:style=> "width:150px; margin-top:15%" %>
    <% end %>
  </div>
  <div class=" col-md-8" style="border-left:1px solid #eeeeee ;padding:0% 0% 0% 0%" >
    <div style="border-bottom:1px solid #eeeeee ;padding:5% 0% 5% 5%" >
      <span style="color: #000000;" ><%= @user.name %></span>
    </div>
    <div class="col-md-6" style="padding: 0% 0% 0% 0%">
      <div  class="email-section"><span><%= @user.email %></span></div>
      <div class="phone-section"><span><%= @user.phone_number %></span></div>
      <div class="dob-section"><span><%= @user.profile.dob %></span></div>
    </div>
  </div>
</div>
